@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* font-family: "Open Sans", serif; */

*{
    padding: 0;
    margin: 0;
}
.nav_item{
   font-size: 23px;
   font-weight: 800;
    font-family: "Open Sans", serif; 
}
.span_color{
    color: rgb(255, 143, 14);
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 75px;
   
}
.dark_2{
    color: black;
    font-family: "Open Sans", serif; 
}
.nav_head ul li{
    list-style: none;
    margin-right: 50px;
}

.nav_head ul li a{
    text-decoration: none;
    
}
.nav_head ul{
    display: flex;
    text-align: center;

}
header{
  
    background: rgb(255, 248, 243);
}
 .nav_btn{
    padding: 11px 23px;
    border: none;
    font-size: 13px;
    font-weight: 400;
    background-color: rgb(255, 143, 14);
    color: rgb(255, 255, 255);
    font-family: "Open Sans", serif; 
    border-radius: 3px;
    margin: 0 10px;
   
}  
.nav_btn:hover{
    background-color: rgb(247, 193, 18);
    color: rgb(0, 0, 0);
    transition: .5s;
    border-radius: 4px;
} 
.banner{
    display: flex;
    justify-content: space-around;
    /* margin: 0 40px 30px 230px; */
    margin: 30px 0px;
    background-image: url("./images/developer.png"), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner_content{
    text-align: left;
    margin: 160px 0 0 10px;


}
.banner_img{
    max-width: 580px;
}  
.small_head{
color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 35px;
font-weight: 600;
margin-bottom: 15px;
}
.big_head{
color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 69px;
font-weight: 700;
margin-bottom: 20px;
}
.para{
 color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
margin-bottom: 30px;
}
.about_con{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 120px 150px;
    text-align: center;
    margin: 82px 0;
}
.about_c{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    color: rgb(117, 117, 117);
   /* text-align: center; */
}
.about_co{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
    /* text-align: center; */
   
}
main{
    max-width:1150px ;
    margin: 0 auto;
}
.about_content{
    display: flex;
    justify-content: space-evenly;
   
}
.item_title{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 600;
    margin-top: 14px;
}
.item_description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;
}
.about_cont{
    border-radius: 10px;
    background-color: rgb(243, 240, 224);
    padding: 70px 70px;
    text-align: center;
    margin: 50px 0;
}
.skill_head{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 12px 0;
}
.skill_par{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 22px 0;

}
.skill_main{
    display: flex;
    gap: 20px;
}
.skill{
    background-color: rgb(243, 240, 224);
    padding: 35px 8px ;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0px 6px 40px 0px rgba(92, 91, 91, 0.555) ;
}
.resume_head{
    /* padding: 70px 70px; */
    margin: 80px 0; 
    text-align: center; 
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.container_resume{
    display: flex;
    gap: 33px;
    /* margin: 0 auto; */
   margin-bottom: 45px;

}
.resume_column_title{
    color: rgb(71, 71, 70);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-top: 17;
    }
    .experience_title{
        color: rgb(71, 71, 71);
        font-family: Open Sans;
        font-size: 21px;
        font-weight: 700;
        text-align: left;
        margin-top: 16px;
    }
    .experience_sub_title{
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 17px;
        font-weight: 600;
        text-align: left;
        margin: 15px 0;
    }
    .experiencea_description{
        color: rgb(117, 117, 117);
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
    }

  .text{
    text-align: center;
    margin-bottom: 70px;
  }
  footer{
    display: flex;
    background-color: antiquewhite;
    padding: 130px 190px;
    justify-content: space-evenly;
    gap: 90px;
  }
  .footer_content h1{
    margin: 26px 0px;
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
  }
  .footer_content p{
    margin: 0 0 26px 0;
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
  }
  footer input[type="text"], footer input[type="email"], footer input[type="password"], footer textarea{
    height:30px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 4px 32px;
    margin-bottom: 20px;
    border: none;
    margin: 30px 1px;
  }

.footer_form h1{
    margin: 26px 0px;
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
}
.hide{
    display: none;
}
@media screen and (max-width:576px){
    footer, .skill_main, .banner, .about_con, .about_cont, .nav_main{
        flex-direction: column;
        padding: 0px 0px;
    }
   
}
