@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* font-family: "Open Sans", serif; */

*{
    padding: 0;
    margin: 0;
}
.nav_item{
   font-size: 20px;
   font-weight: 800;
    font-family: "Open Sans", serif; 
}
.span_color{
    color: rgb(251, 182, 8);
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 75px;
   
}
.dark_2{
    color: black;
    font-family: "Open Sans", serif; 
}
.nav_head ul li{
    list-style: none;
    margin-right: 50px;
}

.nav_head ul li a{
    text-decoration: none;
    
}
.nav_head ul{
    display: flex;
    text-align: center;

}
 .nav_btn{
    padding: 9px 23px;
    border: none;
    font-size: 10px;
    font-weight: 400;
    background-color: rgb(251, 182, 8);
    color: rgb(255, 255, 255);
    font-family: "Open Sans", serif; 
}   


